body {
    padding-top: 5rem;
    background-color: #f5efe6;
}

label {
    color: #777;   
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
   padding: 0;
   margin: 0;
}

.pseudo-link {
    cursor: pointer;
}

.home-card {
    width: 400px;
    height: 400px;
}

.gallery {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery-item {
    margin: 0;
    padding: 0;
}

.gallery-img {
    height: 300px;
    width: 300px;
    margin: 0;
    padding: 0;
}

.profile-img {
    height: 175px;
    width: 175px;
}

.post-liked {
    color: #F40468;
}

.logo-brand {
    font-family: 'Lobster', cursive;
}

.btn-green {
    background: #85cb33;
    color: #fff;
}

.btn-blue {
    background: #007BFF;
    color: #fff;
}

.post-header {
    height: 50px;
}

.post-maker-photo {
    height: 25px;
    width: 25px;
}

.menu-title {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: #777;
}

.shadow-sm {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}